
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.coname{
    font-family: cursive;
}

body{
margin: 0px;
padding: 0px;
box-sizing: border-box;
width: 100%;
font-family:'poppins',sans-serif;
}
/*---navbar--*/

li{
    padding: 5px;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
    transition: 1.5s;
}

section{
    min-height: 100vh;
    display:flex;
    justify-content: center; /*horizontal */
    align-items: center; /*vertical */
    text-align: justify;
}
span{
    font-weight: bold;
    color: blue;
}

/*CARDS PROPERTIES*/

.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition:transform 0.6s ease;
}
.card-body{
    padding: 20px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width:145px;
}
.btn-primary:hover{
    background-color: black;
}
.card:hover{
    transform: translateY(-15px);
}
footer {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.social-media {
    margin: 0 auto;
    max-width: 600px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media a img {
    width: 32px;
    height: 32px;
}